* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

h1 {
    font-size: 24px;
}

.highlight {
    color: rgb(61, 90, 241);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    color: rgb(61, 90, 241);
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.profile {
    height: 30px;
    width: 30px;
}