header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.highlight {
    color: rgb(61, 90, 241);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    color: rgb(61, 90, 241);
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

.profile {
    height: 40px;
    width: 40px;
}